@use "../components/" as *;

.contact {

    .section-title,
    .section-subtitle {
        text-align: center;
    }

    .contact__p {
        max-width: 750px;
        margin: auto;
        text-align: left;

        @media (width<576px) {
            max-width: 100%;
            font-size: 0.8rem;
        }
    }

    &__wrapper {
        margin-top: 3rem;

        .contact__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;

            &__element,
            textarea {
                background-color: transparent;
                padding: 1rem;
                color: #737373;
                border: 1px solid #ced4da;
                width: 100%;

                &::placeholder {
                    font-size: 1.1rem;
                }
            }

            .contact__btn {
                @include btn();
            }
        }

        textarea {
            font-size: 1.1rem;
        }
    }
}